@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary: #1671ee;
  --secondary: #eefaff;
  --hoverbutton: #7293bc;
  --cardbackground: #ffffff;
  --background: #ffffff;
  --text: #222222;
  --heading-font: "Inter", sans-serif;
  --body-font: "Inter", sans-serif;
}

body,
a {
  color: var(--text);
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.primary-btn {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  padding: 14px 28px;
  font-size: 1rem;
  border-radius: 999px;
  border: none;
}

.primary-btn:hover {
  background-color: var(--hoverbutton);
}
